
[Unit]
Description=patch for memory.oom.group for docker
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/opt/docker-patch-oom.sh

# CPUQuota=100%
# MemoryMin=10M
# MemoryMax=30M

[Install]
WantedBy=default.target
