
[Unit]
Description="Run node-textfile-apt_info.service every 10 minutes"

[Timer]
OnActiveSec=10sec
OnUnitActiveSec=10min
Unit=node-textfile-apt_info.service

[Install]
WantedBy=multi-user.target
