
[Unit]
Description="apt_info from node-exporter-textfile-collector-scripts repo"

[Service]
ExecStartPre=mkdir -p /tmp/node-exporter-textfile/
ExecStart=bash -c "/opt/apt_info.py | sponge /tmp/node-exporter-textfile/apt.prom"
