body {
  background: #252526;
  margin: 0;
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

.player-wrapper {
  position: relative;
  display: block;
  float: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.buttons {
  position: relative;
  display: block;
  float: none;
  margin: 1em;
  font-size: x-large;
  font-weight: bold;
}

a,
.buttons a,
a:hover,
a:active,
a:visited {
  color: white;
}

.button-select {
  color: white;
}

/* .buttons button {
  color: white;
  padding: 0.5em;
} */

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  will-change: transform;
}

.red-border {
  border: 3px solid #ae0d0d;
}

.semi-red-border {
  border: 3px solid #ae0d0d;
  border-style: dashed;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.settings-block {
  display: inline-block;
  border: 3px solid #ddc98c;
  border-radius: 10px;
}

p {
  margin: 0;
  line-height: 1.6;
}

ol {
  list-style: none;
  padding: 0 1rem;
}

li.empty-stream {
  --c1: #a596a6;
  --c2: #787878;
}

li.error-stream {
  --c1: #df1b1b;
  --c2: #a47546;
}

li.active-stream {
  --c1: #a854a8;
  --c2: #c59cff;
}

li {
  --stop: 30%;

  position: relative;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #464541;
}

li::before {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

.thumbnail-container {
  max-width: 20%;
  max-width: 20rem;
  min-width: 10rem;
  display: block;
  margin: 1rem;
  /* padding: 2rem 1rem 1rem; */
}

.thumbnail-container img {
  width: 100%;
}

.list-right {
  min-width: 15rem;
  max-width: 70%;
  margin: 1rem;
}

.list-link {
  font-size: x-large;
  color: rgb(225, 225, 225);
  margin: 0.3rem;
  padding: 0.5rem;
  min-width: 7rem;
}

.list-link-container {
  display: block;
}

.list-description {
  font-size: x-large;
  font-weight: bold;
  color: rgb(225, 225, 225);
  margin: 1rem;
  padding: 1rem;
  word-break: break-all;
}

li {
  display: flex;
}

li h3 {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
  color: rgb(225, 225, 225);
}

@media (min-width: 40em) {
  li {
    margin: 3rem auto;
    padding: 3rem 2rem 2rem;
  }

  h3 {
    font-size: 2.25rem;
    margin: 0 0 2rem;
  }

  h3::before {
    margin-right: 1.5rem;
  }
}