---
apiVersion: v1
kind: Service
metadata:
  name: prom-main
  labels:
    app: prometheus
    instance: main
spec:
  selector:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/instance: main
  ports:
  - name: http-web
    port: 9090
    targetPort: 9090
  - name: reloader-web
    appProtocol: http
    port: 8080
    targetPort: reloader-web
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: main
  labels:
    app: prometheus
spec:
  serviceName: prom-main
  version: v3.5.0
  paused: false
  replicas: 1
  shards: 1
  resources:
    requests:
      # prometheus uses ~400m just for scrapes and rule evaluation
      cpu: 500m
      # in my deployment prometheus doesn't need too much RSS
      # but it needs a lot of memory for cache, and it runs very poorly when cache is not available
      memory: 3Gi
    limits:
      memory: 8Gi
  # when created-timestamp-zero-ingestion is enabled,
  # debug logs create infinite amount of "Error when appending CT in scrape loop" messages
  logLevel: info
  logFormat: logfmt
  enableAdminAPI: true
  scrapeInterval: 10s
  evaluationInterval: 10s
  retention: 1y
  enableFeatures:
  - extra-scrape-metrics
  - created-timestamp-zero-ingestion
  tsdb:
    outOfOrderTimeWindow: 0s
  routePrefix: "/"
  securityContext:
    fsGroup: 2000
    runAsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      prometheus.io/instance: main
  serviceMonitorNamespaceSelector: {}
  podMonitorSelector:
    matchLabels:
      prometheus.io/instance: main
  podMonitorNamespaceSelector: {}
  probeSelector:
    matchLabels:
      prometheus.io/instance: main
  probeNamespaceSelector: {}
  ruleSelector:
    matchLabels:
      prometheus.io/instance: main
  ruleNamespaceSelector: {}
  scrapeConfigSelector:
    matchLabels:
      prometheus.io/instance: main
  scrapeConfigNamespaceSelector: {}
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchExpressions:
            # prometheus operator creates pods with app.kubernetes.io/name label
            - { key: app.kubernetes.io/name, operator: In, values: [ prometheus ] }
  portName: http-web
  volumes:
  - emptyDir: {}
    name: tmp
  volumeMounts:
  - mountPath: /tmp
    name: tmp
  hostNetwork: false
  containers:
  - name: prometheus
    livenessProbe:
      failureThreshold: 10
  - name: config-reloader
    args:
    - --listen-address=:8080
    - --reload-url=http://127.0.0.1:9090/-/reload
    - --config-file=/etc/prometheus/config/prometheus.yaml.gz
    - --config-envsubst-file=/etc/prometheus/config_out/prometheus.env.yaml
    - --watched-dir=/etc/prometheus/rules/prometheus-main-rulefiles-0
    - --log-level=debug
    - --watch-interval=10s
