
[general]
listen = "0.0.0.0:53"
# protocol, "both", "both4", "both6", "udp", "udp4", "udp6" or "tcp", "tcp4", "tcp6"
protocol = "both"
# domain name to serve the requests off of
domain = "$ACME_DNS_DOMAIN"
# zone name server
nsname = "$ACME_DNS_NS_NAME"
# admin email address, where @ is substituted with .
nsadmin = "$ACME_DNS_ADMIN_EMAIL"
# predefined records served in addition to the TXT
records = [
    # domain pointing to the public IP of your acme-dns server 
    # "auth.example.org. A 198.51.100.1",
    # specify that $ACME_DNS_NS_NAME. will resolve any *.$ACME_DNS_DOMAIN. records
    # this is an authoritative record which could override parent domain record and must be present
    "$ACME_DNS_DOMAIN. NS $ACME_DNS_NS_NAME.",
]
# debug messages from CORS etc
debug = true

[database]
# Database engine to use, sqlite3 or postgres
engine = "postgres"
# Connection string, filename for sqlite3 and postgres://username:password@host/db_name for postgres
# Please note that the default Docker image uses path /var/lib/acme-dns/acme-dns.db for sqlite3
connection = "postgres://$ACME_DNS_POSTGRESS_USER:$ACME_DNS_POSTGRESS_PASS@$ACME_DNS_POSTGRESS_HOST/$ACME_DNS_POSTGRESS_DB_NAME"

[api]
# listen ip eg. 127.0.0.1
ip = "0.0.0.0"
# disable registration endpoint
disable_registration = false
# listen port, eg. 443 for default HTTPS
port = "80"
# possible values: "letsencrypt", "letsencryptstaging", "cert", "none"
tls = "none"
# only used if tls = "cert"
tls_cert_privkey = "/etc/tls/example.org/privkey.pem"
tls_cert_fullchain = "/etc/tls/example.org/fullchain.pem"
# only used if tls = "letsencrypt"
acme_cache_dir = "api-certs"
# optional e-mail address to which Let's Encrypt will send expiration notices for the API's cert
notification_email = ""
# CORS AllowOrigins, wildcards can be used
corsorigins = [
    "*"
]
# use HTTP header to get the client ip
use_header = true
# header name to pull the ip address / list of ip addresses from
header_name = "X-Forwarded-For"

[logconfig]
# logging level: "error", "warning", "info" or "debug"
loglevel = "debug"
# possible values: stdout, TODO file & integrations
logtype = "stdout"
# file path for logfile TODO
# logfile = "./acme-dns.log"
# format, either "json" or "text"
logformat = "text"
