---
name: kube-apiserver
services:
  apiserver:
    container_name: '${COMPOSE_PROJECT_NAME}'
    image: '{{ k8s_image_apiserver }}'
    restart: always
    network_mode: host
    command:
    - kube-apiserver
    # - -v=9
    - --advertise-address={{ k8s_apiserver_advertise_address }}
    - --allow-privileged=true
    - --authentication-config=/etc/k8s/config/auth-config.yaml
    - --authorization-mode=Node,RBAC
    - --bind-address=0.0.0.0
    - --client-ca-file=/etc/k8s/pki/ca.pem
    - --enable-admission-plugins=NodeRestriction
    - --enable-bootstrap-token-auth=true
    - --etcd-cafile=/etc/k8s/pki/etcd-ca.pem
    - --etcd-certfile=/etc/k8s/pki/etcd-client.pem
    - --etcd-keyfile=/etc/k8s/pki/etcd-client-key.pem
    - --etcd-prefix=/registry
    - --etcd-servers={{ k8s_apiserver_etcd_endpoints }}
    - --feature-gates=InPlacePodVerticalScaling=true,InPlacePodVerticalScalingExclusiveCPUs=true,WatchList=true,WatchListClient=true,KubeletCrashLoopBackOffMax=true
    - --kubelet-client-certificate=/etc/k8s/pki/apiserver.pem
    - --kubelet-client-key=/etc/k8s/pki/apiserver-key.pem
    - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
    - --proxy-client-cert-file=/etc/k8s/pki/apiserver.pem
    - --proxy-client-key-file=/etc/k8s/pki/apiserver-key.pem
    # https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/
    # - --requestheader-allowed-names=front-proxy-client
    - --requestheader-allowed-names=kubernetes
    - --requestheader-client-ca-file=/etc/k8s/pki/ca.pem
    - --requestheader-extra-headers-prefix=X-Remote-Extra-
    - --requestheader-group-headers=X-Remote-Group
    - --requestheader-username-headers=X-Remote-User
    - --secure-port=6443
    - --service-account-issuer=https://kubernetes.default.svc.cluster.local
    - --service-account-key-file=/etc/k8s/pki/service-accounts.pem
    - --service-account-signing-key-file=/etc/k8s/pki/service-accounts-key.pem
    - --service-cluster-ip-range={{ k8s_cluster_service_cidr }}
    - --tls-cert-file=/etc/k8s/pki/apiserver.pem
    - --tls-private-key-file=/etc/k8s/pki/apiserver-key.pem
    # use pod ID instead of services
    - --enable-aggregator-routing
    ports:
    - 6443:6443
    volumes:
    - ./pki/:/etc/k8s/pki/:ro
    - ./config/:/etc/k8s/config/:ro
    deploy:
      resources:
        limits:
          # Idle apiserver consumes ~500Mi.
          # When it is selected as a primary instance, memory usage starts at ~1100Mi
          # apiserver is leaking memory because of shitty golang stdlib implementation,
          # stdlib docs/examples, and the k8s implementation of its usage
          # so over the time it will use more and more.
          # Memory limit allows us to restart it automatically,
          # instead of waiting until node runs out of memory.
          memory: 3200M
