---
name: kube-scheduler
services:
  scheduler:
    container_name: '${COMPOSE_PROJECT_NAME}'
    image: registry.k8s.io/kube-scheduler:v1.34.1
    restart: always
    network_mode: host
    command:
    - kube-scheduler
    - --authentication-kubeconfig=/etc/kubernetes/scheduler.conf
    - --authorization-kubeconfig=/etc/kubernetes/scheduler.conf
    - --bind-address=0.0.0.0
    - --feature-gates=InPlacePodVerticalScaling=true,InPlacePodVerticalScalingAllocatedStatus=true,InPlacePodVerticalScalingExclusiveCPUs=true,WatchList=true,WatchListClient=true
    - --kubeconfig=/etc/kubernetes/scheduler.conf
    - --leader-elect=true
    - --tls-cert-file=/etc/k8s/pki/client.pem
    - --tls-private-key-file=/etc/k8s/pki/client-key.pem
    volumes:
    - ./pki/:/etc/k8s/pki/:ro
    - ./kubeconfig.yaml:/etc/kubernetes/scheduler.conf:ro
    deploy:
      resources:
        limits:
          memory: 80M
