
[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
StartLimitIntervalSec=1
RestartSec=10

ExecStart=/usr/local/bin/kubelet \
  --bootstrap-kubeconfig=/var/lib/kubelet/bootstrap-kubeconfig.yaml \
  --kubeconfig=/var/lib/kubelet/kubeconfig.yaml \
  --config=/var/lib/kubelet/config.yaml \
  --cert-dir=/var/lib/kubelet/pki \
  --hostname-override="{{k8s_node_name}}"

OOMScoreAdjust=-900
MemoryMin=150M
MemoryLow=300M

[Install]
WantedBy=multi-user.target
