---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-state-metrics

resources:
- ./kube-state-metrics.gen.yaml
- ./service-monitor.yaml
- ./alerts-own.yaml
- ./alerts-kube.yaml
