---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx

resources:
- nginx.gen.yaml

patches:
- path: config.yaml
# - path: config.yaml
# patchesStrategicMerge:
# - config.yaml
