
[Unit]
Description=ZFS Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=pdf_zfs_exporter
ExecStart=/opt/pdf_zfs_exporter \
  --web.listen-address=:9134 \
  --properties.dataset-filesystem="available,logicalused,quota,referenced,used,usedbydataset,usedbychildren,usedbysnapshots,written,refquota,refreservation,reservation,snapshot_count,snapshot_limit,logicalreferenced,creation" \
  --properties.dataset-volume="available,logicalused,referenced,used,usedbydataset,volsize,written,usedbysnapshots,logicalreferenced,creation,snapshot_count" \
  --properties.pool="allocated,dedupratio,capacity,expandsize,fragmentation,free,freeing,health,leaked,readonly,size" \
  --web.disable-exporter-metrics

CPUQuota=200%
MemoryMin=15M
MemoryMax=30M

[Install]
WantedBy=default.target
