---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: alert-prometheus-operator
  labels:
    prometheus.io/instance: main
    instance.prometheus.io/main: enable
    instance.prometheus.io/prompp: enable
spec:
  groups:
  - name: alert-prometheus-operator
    rules:
    - alert: PrometheusOperatorListErrors
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}:
          {{ $value | humanizePercentage }}
        runbook_url: https://runbooks.prometheus-operator.dev/runbooks/prometheus-operator/prometheusoperatorlisterrors
        summary: Error rate for list operations in controller is above 0%
      expr: |-
        (
          sum without(instance, pod) (
            rate(prometheus_operator_list_operations_failed_total[10m])
          )
          /
          sum without(instance, pod) (
            rate(prometheus_operator_list_operations_total{}[10m])
          )
        )
        > 0
      for: 15m
      labels:
        severity: warning
    - alert: PrometheusOperatorWatchErrors
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}:
          {{ $value | humanizePercentage }}
        runbook_url: https://runbooks.prometheus-operator.dev/runbooks/prometheus-operator/prometheusoperatorwatcherrors
        summary: Error rate for watch operations in controller is above 0%
      expr: |-
        (
          rate(prometheus_operator_watch_operations_failed_total[10m])
          /
          rate(prometheus_operator_watch_operations_total[10m])
        ) > 0
      for: 15m
      labels:
        severity: warning
    - alert: PrometheusOperatorSyncFailed
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}:
          {{ $value }} objects
        runbook_url: https://runbooks.prometheus-operator.dev/runbooks/prometheus-operator/prometheusoperatorsyncfailed
        summary: Controller failed to reconcile objects
      expr: min_over_time(prometheus_operator_syncs{status="failed"}[5m]) > 0
      for: 10m
      labels:
        severity: warning
    - alert: PrometheusOperatorReconcileErrors
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}:
          {{ $value | humanizePercentage }}
        runbook_url: https://runbooks.prometheus-operator.dev/runbooks/prometheus-operator/prometheusoperatorreconcileerrors
        summary: More than 10% of reconciliation operations failed
      expr: |-
        (
          rate(prometheus_operator_reconcile_errors_total[5m])
          /
          rate(prometheus_operator_reconcile_operations_total[5m])
        ) > 0.1
      for: 10m
      labels:
        severity: warning
    - alert: PrometheusOperatorStatusUpdateErrors
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}:
          {{ $value | humanizePercentage }}
        runbook_url: https://runbooks.prometheus-operator.dev/runbooks/prometheus-operator/prometheusoperatorstatusupdateerrors
        summary: More than 10% of status update operations failed
      expr: |-
        (
          rate(prometheus_operator_status_update_errors_total[5m])
          /
          rate(prometheus_operator_status_update_operations_total[5m])
        ) > 0.1
      for: 10m
      labels:
        severity: warning
    - alert: PrometheusOperatorNodeLookupErrors
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}
        runbook_url: https://runbooks.prometheus-operator.dev/runbooks/prometheus-operator/prometheusoperatornodelookuperrors
        summary: Errors while reconciling Prometheus
      expr: rate(prometheus_operator_node_address_lookup_errors_total[5m]) > 0.1
      for: 10m
      labels:
        severity: warning
    - alert: PrometheusOperatorNotReady
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}
        summary: Prometheus operator controller is not ready
      expr: prometheus_operator_ready == 0
      for: 5m
      labels:
        severity: warning
    - alert: PrometheusOperatorRejectedResources
      annotations:
        description: >-
          {{ $labels.instance }}:
          {{ $labels.controller }}/{{ $labels.resource }}
          {{ $value }} resources rejected
        summary: Prometheus operator rejected configuration resources
      expr: prometheus_operator_managed_resources{state="rejected"} > 0
      for: 5m
      labels:
        severity: warning
