---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-operator
  namespace: prometheus-operator
  labels:
    app: prometheus-operator-operator
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator
automountServiceAccountToken: true
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-operator
  labels:
    app: prometheus-operator-operator
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator
rules:
- apiGroups:
  - monitoring.coreos.com
  resources:
  - alertmanagers
  - alertmanagers/finalizers
  - alertmanagers/status
  - alertmanagerconfigs
  - prometheuses
  - prometheuses/finalizers
  - prometheuses/status
  - prometheusagents
  - prometheusagents/finalizers
  - prometheusagents/status
  - thanosrulers
  - thanosrulers/finalizers
  - thanosrulers/status
  - scrapeconfigs
  - scrapeconfigs/status
  - servicemonitors
  - servicemonitors/status
  - podmonitors
  - podmonitors/status
  - probes
  - probes/status
  - prometheusrules
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
  - delete
- apiGroups:
  - ""
  resources:
  - services
  - services/finalizers
  - endpoints
  verbs:
  - get
  - create
  - update
  - delete
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - patch
  - create
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-operator
  labels:
    app: prometheus-operator-operator
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus-operator
subjects:
- kind: ServiceAccount
  name: prometheus-operator
  namespace: prometheus-operator
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-operator
  namespace: prometheus-operator
  labels:
    app: prometheus-operator-operator
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator
spec:
  ports:
  - name: https
    port: 443
    targetPort: https
  selector:
    app: prometheus-operator-operator
  type: "ClusterIP"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-operator
  namespace: prometheus-operator
  labels:
    app: prometheus-operator-operator
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: prometheus-operator-operator
  template:
    metadata:
      labels:
        app: prometheus-operator-operator
        app.kubernetes.io/name: prometheus-operator-prometheus-operator
        app.kubernetes.io/component: prometheus-operator
    spec:
      containers:
        - name: prometheus-operator
          image: "quay.io/prometheus-operator/prometheus-operator:v0.86.0"
          imagePullPolicy: "IfNotPresent"
          args:
            - --kubelet-endpoints=true
            - --kubelet-endpointslice=false
            - --log-level=debug
            - --localhost=127.0.0.1
            - --prometheus-config-reloader=quay.io/prometheus-operator/prometheus-config-reloader:v0.86.0
            - --config-reloader-cpu-request=1m
            - --config-reloader-cpu-limit=0
            - --config-reloader-memory-request=30Mi
            - --config-reloader-memory-limit=50Mi
            - --enable-config-reloader-probes=true
            - --thanos-default-base-image=quay.io/thanos/thanos:v0.39.2
            - --secret-field-selector=type!=kubernetes.io/dockercfg,type!=kubernetes.io/service-account-token,type!=helm.sh/release.v1
            - --web.enable-tls=true
            - --web.cert-file=/cert/tls.crt
            - --web.key-file=/cert/tls.key
            - --web.listen-address=:10250
            - --web.tls-min-version=VersionTLS13
            - -feature-gates=StatusForConfigurationResources=true
          ports:
            - containerPort: 10250
              name: https
          env:
          - name: GOGC
            value: "30"
          resources:
            limits:
              memory: 100Mi
            requests:
              cpu: 5m
              memory: 50Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: tls-secret
              mountPath: /cert
              readOnly: true
          readinessProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: tls-secret
          secret:
            defaultMode: 420
            secretName: prometheus-operator-admission
      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: prometheus-operator
      automountServiceAccountToken: true
      terminationGracePeriodSeconds: 30
---
# generate a server certificate for the apiservices to use
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prometheus-operator-admission
  namespace: prometheus-operator
spec:
  secretName: prometheus-operator-admission
  duration: "8760h0m0s"
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: cluster-ca
  dnsNames:
    - prometheus-operator
    - prometheus-operator.prometheus-operator.svc
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name:  prometheus-operator-admission
  annotations:
    certmanager.k8s.io/inject-ca-from: "prometheus-operator/prometheus-operator-admission"
    cert-manager.io/inject-ca-from: "prometheus-operator/prometheus-operator-admission"
  labels:
    app: prometheus-operator-admission
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator-webhook
webhooks:
  - name: prometheusrulemutate.monitoring.coreos.com
    failurePolicy: Ignore
    rules:
      - apiGroups:
          - monitoring.coreos.com
        apiVersions:
          - "*"
        resources:
          - prometheusrules
        operations:
          - CREATE
          - UPDATE
    clientConfig:
      service:
        namespace: prometheus-operator
        name: prometheus-operator
        path: /admission-prometheusrules/mutate
    timeoutSeconds: 10
    admissionReviewVersions: ["v1", "v1beta1"]
    sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name:  prometheus-operator-admission
  annotations:
    certmanager.k8s.io/inject-ca-from: "prometheus-operator/prometheus-operator-admission"
    cert-manager.io/inject-ca-from: "prometheus-operator/prometheus-operator-admission"
  labels:
    app: prometheus-operator-admission
    app.kubernetes.io/name: prometheus-operator-prometheus-operator
    app.kubernetes.io/component: prometheus-operator-webhook
webhooks:
  - name: prometheusrulemutate.monitoring.coreos.com
    failurePolicy: Ignore
    rules:
      - apiGroups:
          - monitoring.coreos.com
        apiVersions:
          - "*"
        resources:
          - prometheusrules
        operations:
          - CREATE
          - UPDATE
    clientConfig:
      service:
        namespace: prometheus-operator
        name: prometheus-operator
        path: /admission-prometheusrules/validate
    timeoutSeconds: 10
    admissionReviewVersions: ["v1", "v1beta1"]
    sideEffects: None
