---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich

resources:
- ./immich.yaml
- ./machine-learning.yaml
- ./service-monitor.yaml

patches:
- target:
    kind: ServiceMonitor
    name: immich-self
  path: ./env/patch-location-tag.yaml
- target:
    kind: ServiceMonitor
    name: immich-self
  path: ./env/patch-immich-cluster-tag.yaml
