
[Unit]
Description=ZFS Exporter by Chris Siebenmann
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=chris_zfs_exporter
ExecStart=/opt/chris_zfs_exporter \
  -depth=2 \
  -fullpath \
  -listen-addr=:9700

CPUQuota=100%
MemoryMin=10M
MemoryMax=30M
OOMPolicy=kill

[Install]
WantedBy=default.target
